extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name", equired=true)
            input(type="email", name="email", placeholder="Email", equired=true)
            input(type="password", name="password", placeholder="Password", equired=true)
            input(type="password", name="password2", placeholder="Verify Password", equired=true)
            input(type="submit", value="Join Now")
        include partials/socialLogin
